* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'GhotamBold';
    src: url('../assets/fonts/GhotamBold.otf') format('opentype');
    font-weight: normal;
}


@font-face {
    font-family: 'GhotamNormal';
    src: url('../assets/fonts/GothamNormal.otf') format('opentype');
    font-weight: normal;
}


body {
    overflow: auto;
    background-size: contain;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
    font-family: 'GhotamNormal';
    font-weight: normal;
}

.logo {
    height: 200px;
    width: 200px;
}

.area-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f1e1e;
    width: 360px;
    height: auto;
    padding: 35px;
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.login form {
    background-color: #1f1e1e;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.login input {
    color: #fefefe;
    background-color: rgb(58, 58, 58);
    border: none;
    height: 45px;
    margin-top: 10px;
    outline: none;
    border-radius: 8px;
    padding-left: 10px;
    font-family: 'GhotamNormal';
    font-size: 16px;
    letter-spacing: 1px;
}

.login p {
    margin-top: 20px;
    background-color: #1f1e1e;
    font-family: 'GhotamBold';
    color: #fefefe;
}

.login a {
    background-color: #1f1e1e;
    color: #fefefe;
}

.login p a {
    background-color: #1f1e1e;
    font-family: 'GhotamBold';
    color: #6161bd;
}

.login img {
    background-color: #1f1e1e;
    width: 150px;
    height: auto;
}

input::placeholder {
    color: #fafafa;
    font-size: 14px;
    font-family: 'GhotamNormal';
    letter-spacing: 1px;
}


.btn-grad {
    background-image: linear-gradient(to right, #56ab2f 0%, #7fab49  51%, #56ab2f  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

form [type="submit"]:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}


form [type="submit"] {
    background-image: linear-gradient(to right, #56ab2f 0%, #729744  51%, #1b8f98  100%);
    display: block;
    font-size: 20px;
    font-family: 'GhotamBold';
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    transition: 0.3s;
    background-size: 400% auto;
    cursor: pointer;
}