* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'GhotamBold';
  src: url('../assets/fonts/GhotamBold.otf') format('opentype');
  font-weight: normal;
}


@font-face {
  font-family: 'GhotamNormal';
  src: url('../assets/fonts/GothamNormal.otf') format('opentype');
  font-weight: normal;
}


body {
  overflow: hidden;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}


a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
  font-family: 'GhotamNormal';
  font-weight: normal;
}

.area-login {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1e1e;
  width: 360px;
  height: 400px;
  padding: 35px;
  border-radius: 10px;
}

.login form {
  background-color: #1f1e1e;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.login input {
  color: #fefefe;
  background-color: rgb(58, 58, 58);
  border: none;
  height: 45px;
  margin-top: 10px;
  outline: none;
  border-radius: 8px;
  padding-left: 10px;
  font-family: 'GhotamNormal';
  font-size: 16px;
  letter-spacing: 2px;
}

.login p {
  margin-top: 20px;
  background-color: #1f1e1e;
  font-family: 'GhotamBold';
  color: #fefefe;
}

.login a {
  background-color: #1f1e1e;
  color: #fefefe;
}

.login p a {
  background-color: #1f1e1e;
  font-family: 'GhotamBold';
  color: #56ab2f;
}

.login p a:hover {
  background-position: right center;
  color: #1b8f98;
  text-decoration: none;
}

.login img {
  background-color: #1f1e1e;
  width: 150px;
  height: auto;
}

.logoDiv {
  top: 10px;
}

input::placeholder {
  color: #fafafa;
  font-size: 14px;
  font-family: 'GhotamNormal';
  letter-spacing: 1px;
}

form [type="submit"]:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

form [type="submit"] {
  background-image: linear-gradient(to right, #56ab2f 0%, #729744 51%, #1b8f98 100%);
  display: block;
  font-size: 20px;
  font-family: 'GhotamBold';
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  transition: 0.3s;
  background-size: 400% auto;
  cursor: pointer;

}